<div class="navbar"> 
    <nav class="navbar navbar-expand navbar-dark bg-dark col-12" >
        <div class="navbar-nav">
            <a class="navbar-brand links" href="#" style="flex-direction: row;">
                <img src = "../../assets/logo.png" width="95" height="95" class="logo"> LET'S MOCK IT!
            </a>
            <a class="nav-item nav-link links" routerLink="/teacher_profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Teacher's Profile</a>
            <a class="nav-item nav-link links" routerLink="/student_profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Student's Profile</a>
            <a class="nav-item nav-link links" routerLink="/teacher_dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Teacher's Dashboard</a>
            <a class="nav-item nav-link links" routerLink="/student_dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Student's Dashboard</a>
            <!-- <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a> -->
            <!-- <a class="nav-item nav-link" (click)="logout()">Logout</a> -->
            <!-- <span class="navbar-text"> Hey, {{user}}! </span> -->
        </div>
    </nav>
</div>